body {
    height : 122vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(64, 209, 153));
    overflow : hidden;  
}
.logo {
    display : block;
    margin : auto;
    width: 69px;
    height: 63px;
    /* filter : invert(1);   */
}
h1{
    margin-top : 12px;
    font-size : 30px;
    font-family : cursive;
    text-align : center;
}
.container{
 max-width : 955px;
 border : 2px solid black;
 border-radius : 13px;
 margin : auto;
 height : 60vh;
 padding : 33px;
 overflow-y : auto;
 margin-bottom : 23px;
}
.message{
    background-color: rgba(134, 185, 197, 0.986);
    width : 24%;
    padding : 10px;
    margin : 17px 12px;
    border : 2px solid black;
    border-radius : 10px;
}
.left {
    float: left;
    clear: both;
}
.right{
    float : right; 
    clear : both;
}
#send-container{
    display: block;
    margin : auto;
    text-align: center;
    max-width : 1085px;
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width: 83%;
    border : 2px solid black;
    border-radius: 6px;
    height : 39px;
    font-size : 22px;
}
.btn {
    margin : 0 5px;
    width : 9%;
    border : 2px solid black;
    border-radius: 6px;
    height : 39px;
    cursor : pointer;
    font-size: 20px;
    font-family: cursive;
}


@media only screen and (max-width: 681px ){
    #messageInp{
        width:81%;
    }
           .btn{
              width: 11%; 
          } 
         
}
@media only screen and  (max-width: 570px ){
    #messageInp{
        width:79%;
    }
     .btn{
        width: 13%; 
    } 
}

@media only screen and (max-width: 476px ){
    #messageInp{
        width:77%;
        height: 35px;
    }
     .btn{
        width: 15%; 
        height: 35px;
        font-size: 17px;
    } 
    body{
        height: 135vh;
    }
}
@media only screen and (max-width: 426px ){
    #messageInp{
        width:75%;
    }
     .btn{
        width: 17%;
        font-size: 18px; 
    } 
}
@media only screen and (max-width: 387px ){
    #messageInp{
        width:73%;
    }
     .btn{
        width: 19%; 
    } 
}
@media only screen and (max-width: 357px ){
    #messageInp{
        width:71%;
    }
     .btn{
        width: 21%; 
    } 
}
@media only screen and (min-width: 277px) and (max-width: 317px ){
    #messageInp{
        width:69%;
    }
     .btn{
        width: 23%; 
    } 
  
}
